@import '../../../global-styles/settings';

.v-calculator-display {
  background: $calculator-display-result;
  padding: 42px 30px 44px;
  text-align: right;
  width: ($calculator-width - 60px);

  ::-webkit-scrollbar {
    display: none;
  }

  &__header {
    min-height: 42px;
    overflow-x: scroll;
  }
  &__result {
    min-height: 82px;
    overflow-x: scroll;
  }
}
