// Color Palette
$color-white: #FFF;
$color-black: #000;
$color-grey: #CCC;
$color-dark-grey: #29363B;
$color-red: #E9495F;
$color-light-red: #F4837D;
$color-light-orange: #F6B98A;


// Color Assignement

// Text
$text-white: $color-white;

// Calculator
$calculator-text-operation: $color-grey;
$calculator-text-result: $color-white;
$calculator-action-button: $color-red;
$calculator-operation-button: $color-light-orange;
$calculator-operand-button: $color-light-red;

// Layout
$border-dark-grey: $color-dark-grey;
