@import '../../../global-styles/settings';

.v-calculator-operands {
  display: flex;
  flex-direction: column;
  width: $calculator-main-keyboard-width;

  &__button-container:not(:last-child) {
    border-bottom: 1px solid $border-dark-grey;
  }
}
